/* Estilos generales para la sección */
#acercademi {
    display: flex;                 /* Habilita flexbox */
    flex-direction: column;        /* Alinea contenido en columna */
    justify-content: center;       /* Centra verticalmente */
    align-items: center;           /* Centra horizontalmente */
    height: 100vh;                 /* Toma toda la altura de la pantalla */
    padding: 3px;                 /* Espaciado interno */
    text-align: center;            /* Centra el texto */
    /*background-color: #f9f9f9;     /* Fondo claro (ajústalo si tienes modo oscuro) */
}

#acercademi h2 {
    margin-bottom: 20px;           /* Espacio entre el título y el párrafo */
    font-size: 2.5em;              /* Tamaño del título */
    margin-top: 140px;
    font-family: cursive;
}

#acercademi p {
    font-size: 20px;              /* Tamaño del texto */
    line-height: 1.6;              /* Espaciado entre líneas */
    max-width: 800px;
    /* font-weight: bold; */              /* Limita el ancho del texto */
}






@media screen and (max-width: 768px) {

    /* Título */
        #acercademi h2 {
            font-size: 1.8rem;
            /* Tamaño grande para pantallas normales */
            margin-bottom: 10px;
            margin-top: -50px; /*ES PARA SUBIR TODO LO QUE ES "ACERCA DE MI"*/
            line-height: 1.2;
            /* Espaciado entre líneas */
        }


        #acercademi p {
            font-size: 16px;              /* Tamaño del texto */
            line-height: 1.6;              /* Espaciado entre líneas */
            
            /* font-weight: bold; */              /* Limita el ancho del texto */
        }
}