.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00ff15;
    color: white;
    border: none;
    border-radius: 30%;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
    animation: pulsate 1.5s infinite; /* Animación de brillo */
}

#scrollToTop:hover {
    background-color: #000000; /* Color cuando el mouse pasa sobre el ícono */
}

@keyframes pulsate {
    0%, 100% {
        box-shadow: 0 0 10px rgba(33, 150, 243, 0.7);
    }
    50% {
        box-shadow: 0 0 20px rgb(0, 0, 0);
    }
}



/* Estilo para el ícono en modo oscuro */
@media (prefers-color-scheme: dark) {
    #scrollToTop {
        color: #fff; /* Color en modo oscuro */
    }

    #scrollToTop:hover {
        background-color: #002fff; /* Color en modo oscuro cuando pasa el mouse */
    }
}
