.falling-text {
    opacity: 0; /* Comienza invisible */
    transform: translateY(-50px); /* Comienza más arriba */
    animation: fallingAnimation 0.5s ease-out forwards;
  }
  
  @keyframes fallingAnimation {
    to {
      opacity: 1; /* Se hace visible */
      transform: translateY(0); /* Vuelve a su posición normal */
    }
  }