/* Icono de luna en modo oscuro */
body.dark-mode #luna-icon {
    color: #000000; /* Color claro */
}

/* Icono de luna en modo claro */
body.light-mode #luna-icon {
    color: #ffffff; /* Color oscuro */
}

/* Icono de sol en modo oscuro */
body.dark-mode #sol-icon {
    color: #ff1100; /* Color amarillo o dorado */
}

/* Icono de sol en modo claro */
body.light-mode #sol-icon {
    color: #ffee00; /* Color amarillo o dorado */
}
