.logo {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: flex-start; /* Alinea los elementos al inicio del contenedor */
    padding: 5px; /* Espacio interno alrededor del contenido */
    border-radius: 10px; /* Esquinas redondeadas */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  Sombra suave */
}

.logo img {
    width: 48px; /* Ancho de la imagen */
    height: 48px; /* Alto de la imagen */
    border-radius: 50%; /* Imagen circular */
    margin-right: 10px; /* Espacio a la derecha de la imagen */
}

.logo h1 {
    font-size: 24px; /* Tamaño de fuente para el encabezado principal */
    margin: 0; /* Sin márgenes adicionales */
}

.logo h2 {
    font-size: 16px; /* Tamaño de fuente para el subtítulo */
    margin: 0; /* Sin márgenes adicionales */
    font-style: italic; /* Estilo cursivo */
}