
/* Estilos específicos para modo claro */
body.light-mode header nav ul li a {
    color: black;
}

/* Estilos específicos para modo oscuro */
body.dark-mode header nav ul li a {
    color: white;
}

/* Icono por defecto (modo claro) */
#theme-toggle i {
    color: rgb(255, 255, 255); /* Color negro en modo claro */
}

/* Icono en modo oscuro */
body.dark-mode #theme-toggle i {
    color: rgb(0, 0, 0); /* Color blanco en modo oscuro */
}

/* Icono de Modo Oscuro/Claro */
.theme-toggle {
    font-size: 24px;
    cursor: pointer;
}

/* Modo Oscuro */
body.dark-mode {
    background-color: #121212; /* Fondo oscuro */
    color: white; /* Texto blanco */
}

body.dark-mode header {
    background-color: #1f1f1f; /* Fondo del header más oscuro */
}

body.dark-mode .social .icon a {
    background-color: #444;
}

body.dark-mode .social .icon a:hover {
    background-color: #00f2fe;
}

/* Modo Claro */
body.light-mode {
    background-color: #ffffff; /* Fondo blanco */
    color: black; /* Texto negro */
}

body.light-mode header {
    background-color: #f0f0f0; /* Fondo claro para el header */
}

body.light-mode .social .icon a {
    background-color: #ffffff;
}

body.light-mode .social .icon a:hover {
    background-color: #00f2fe;
}













/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

/* Modo claro (por defecto) */
body {
    background-color: #ffffff;
    color: #000000;
}

/* Modo oscuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* Estilo del botón */
#toggle-theme {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    margin: 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

#toggle-theme:hover {
    background-color: #0056b3;
}