/* Configuración del fondo de partículas */
#particles-js {
    position: fixed; /* Permite que se quede fijo en el fondo */
    top: 0;
    left: 0;
    width: 100%; /* Asegura que cubra el ancho completo */
    height: 100%; /* Asegura que cubra el alto completo */
    z-index: -1; /* Envía las partículas al fondo */
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita scroll horizontal */
}
