@import url('header.css');
@import url('inicio.css');
@import url('cv.css');
@import url('acercademi.css');
@import url('habilidades.css');
@import url('redessociales.css');
@import url('footer.css');
@import url('botonflecha.css');
@import url('dezlisacambiadecolor.css');
@import url('idiomasespañolingles.css');
@import url('efectomovimientogeneral.css');
@import url('loadercarga.css');
@import url('particules.css');
@import url('menuhamburgueza.css');
@import url('contador.css');

body {
    user-select: none;
    -webkit-user-select: none; /* Para navegadores WebKit (Chrome, Safari) */
    -moz-user-select: none;    /* Para Firefox */
    -ms-user-select: none;     /* Para Internet Explorer/Edge */
}